<div class="container-fluid">
    <div class="card mb-3">

        <!-- Header  -->
        <div class="card-header">
            <h3><i class="fas fa-futbol"></i>&nbsp;&nbsp;Partidos</h3>
        </div>

        <!-- Body  -->
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Equipo Local</th>
                        <th class="text-center">Marcador</th>
                        <th class="text-center">Equipo Visita</th>
                        <th class="text-center">Horario</th>
                        <th class="text-center">Lugar</th>
                        <th class="text-center">Jornada</th>
                        <th class="text-center">Estatus</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let partido of partidos">
                        <td class="text-center align-middle">{{ partido.id_equipo_local }}</td>
                        <td class="text-center align-middle">{{ partido.goles_local + ' - ' + partido.goles_visita }}</td>
                        <td class="text-center align-middle">{{ partido.id_equipo_visita }}</td>
                        <td class="text-center align-middle">{{ partido.horario_partido }}</td>
                        <td class="text-center align-middle">{{ partido.id_cancha }}</td>
                        <td class="text-center align-middle">{{ partido.jornada }}</td>
                        <td class="text-center align-middle">{{ partido.estatus }}</td>
                        <td class="text-center align-middle">{{ partido.estado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
